body {

    font-family: 'Segoe UI', sans-serif;

    margin: 0;

    height: 100vh;

    /* IMAGEM CENTRALIZADA */

    background: url("../img/Image.jpg") no-repeat center center;

    background-size: cover;

}

/* camada de opacidade */

.overlay {

    position: fixed;

    width: 100%;

    height: 100%;

    background: rgba(255, 255, 255, 0.5); /* 50% */

    top: 0;

    left: 0;

    z-index: 0;

}

/* card */

.container {

    position: relative;

    z-index: 1;

    background: rgba(255, 255, 255, 0.75);

    backdrop-filter: blur(10px);

    padding: 30px;

    border-radius: 20px;

    width: 340px;

    margin: auto;

    top: 50%;

    transform: translateY(-50%);

    box-shadow: 0 15px 40px rgba(106, 63, 207, 0.2);

    text-align: center;

}

h2 {

    color: #5b35c1;

}

/* campo senha */

input[type="text"] {

    width: 100%;

    padding: 12px;

    border-radius: 10px;

    border: none;

    background: #f3ecff;

    text-align: center;

    margin-bottom: 15px;

}

/* slider */

.slider-box {

    text-align: left;

    margin-bottom: 15px;

}

input[type="range"] {

    width: 100%;

}

/* opções */

.options {

    text-align: left;

    margin-bottom: 15px;

}

.options label {

    display: block;

    margin: 5px 0;

}

/* botões */

button {

    width: 100%;

    padding: 12px;

    margin-top: 10px;

    border: none;

    border-radius: 12px;

    background: linear-gradient(135deg, #7b4dff, #5b35c1);

    color: white;

    cursor: pointer;

}

button.copiar {

    background: #eee;

    color: #5b35c1;

}


 